.intro {
  background: #fbc622;
  height: 100vh;
}
.introGif {
  width: 103%;
  position: absolute;
  top: -8px;
  left: -19px;
  z-index: 0;
}
.intro button {
  z-index: 3;
  position: absolute;
  bottom: 50px;
  right: 50px;
  transform: scale(200%);
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/bobBack.jpeg);
  background-position: 0 right 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.home:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fbc622;
  opacity: 1;

  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;

  animation: fade;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fade {
  0% {
    background: #fbc622;
    z-index: 0;
  }
  99% {
    background: transparent;
    z-index: 0;
  }
  100% {
    background: transparent;
    z-index: -1;
  }
}
@font-face {
  font-family: bobs;
  src: url(./assets/fonts/bobs.ttf);
}
@font-face {
  font-family: chalk;
  src: url(./assets/fonts/rudiment.medium.ttf);
}
#burgerOfTheDay {
  position: relative;
  /* border: 1px solid white; */
  left: 51.25vw;
  top: 27vh;
  width: 9vw;
  text-align: center;
  font-family: chalk;
  color: white;
}
#burgerOfTheDay p {
  font: size 1vw;
}
.options-container {
  position: relative;
  left: 65vw;
  bottom: 2vh;
  /* border: 2px solid white; */
  width: fit-content;
}
.options {
  font-family: bobs;
  color: rgb(190, 0, 0);
  cursor: pointer;
  width: fit-content;
  font-size: 2.5vw;
}
.options:hover {
  text-decoration: underline;
  background-color: white;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}
